# Default line-ending is LF
* text=LF

# Line endings in header and source files are LF
*.c text eol=LF
*.cpp text eol=LF
*.h text eol=LF
*.hpp text eol=LF

# Line endings in .sln and .vcxproj are CRLF
*.vcxproj text eol=LF
*.sln text eol=LF

# Exclude vendored files from language statistics
vendor/* linguist-vendored
